@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@200;300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --serif-display :'DM Serif Display', serif;
    --main-font : 'Raleway', sans-serif;
    --bg-color : rgb(248, 246, 246);
    --heading-font : 4rem;
    --heading-font-mobile : 3rem;

    --gray: rgb(105, 104, 107);
    --light-gray: rgb(169, 167, 168);
}


body{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-family: var(--main-font);
    font-weight: 300;
}

/*``````````````````````NAVBAR````````````````````````````````*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: min(10rem, 10vw);
    background-color: var(--bg-color);
    height: 15vh;
    border-bottom: 1px solid black;

/*     background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
}


@keyframes grad-move {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
}

nav div{
    font-family: var(--serif-display);
    letter-spacing: 2px;
    font-size: 2.5rem;
  
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2vw;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    animation: grad-move 1s linear infinite;
    background: linear-gradient(to right, black, var(--gray), var(--light-gray), black);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;

}

nav ul li:hover{
  scale: 1.2;

}

/*```````````````````````````INTRO```````````````````````````````*/
.intro{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 85vh;
}

.my-img img{
    border-bottom: 1px solid black;
}

.my-name{
    font-family: var(--serif-display);
    font-size: 5rem;
    letter-spacing: 2px;
    line-height: 4.2rem;
    padding-block: 1rem;
}

.profession{
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
}

.btns{
    display: flex;
    gap: 2%;
    padding-top: 5vh;
}

.btns div{
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}

.hire{
    background-color: black;
    color: white;
}

.social-media{
    display: flex;
    gap: 2rem;
}

.intro .social-media{
    padding-top: 10vh;
}

.smedia-icon {
    height: 2rem;
    cursor: pointer;
}

.smedia-icon:hover{
   scale: 1.25;
   filter: invert(85%) sepia(22%) saturate(0%) hue-rotate(215deg) brightness(93%) contrast(67%);
}
 
/*````````````````````````DROPDOWN````````````````````````````*/
.dropdown {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    gap: 0.2rem;
    justify-content: center;
   background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
     display: none;
}

.dropdown img{
    height: 1.5rem;
}

.linkedin{
    color: #006db0;
}

.snap{
    color: #e3df03 ;
}

.insta{
color: #d62976;
}

.mail{
    color: #BB001B;
}


/*````````````````````````ABOUT MEE````````````````````````````*/

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    padding-block: 4rem;
}

.abt-heading{
    font-family: var(--serif-display);
    font-size: var(--heading-font);
    line-height: 4rem;
    background-color: var(--bg-color);
    text-align: center;
    height: 19rem;
    width: 19rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.abt-text{
    width: 50%;
    text-align: right;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 2s linear;

}

.abt-text.active{
     visibility: visible;
    opacity: 1;
}

/*````````````````````````PROJECTS`````````````````````````````````*/
.works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-color);
    padding-block: 3rem;
}

.heading{
    font-family: var(--serif-display);
    font-size: var(--heading-font);
    margin-block: 1rem;
}

.projects{
    display:grid;
    grid-template-columns: repeat(3, max(22vw,20rem));
    grid-gap: min(4rem, 3vw);
    padding-block: 1rem;
}

.project{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.4em 0.4em .4em  rgba(0, 0, 0, 0.253), -0.3em 0 .4em rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.project .proj-img{
    position: relative;
}

.project:hover{
    font-weight: 500;
    scale: 1.1;
}

.project-lightbox{
    background-color: rgb(0, 0, 0, 0.50);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1rem 1rem 0 0;
}

.project img{
    width: 100%;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 0.5px solid var(--bg-color);
    object-fit: cover;
    overflow-y: hidden
}

.proj-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 1rem;
}

.proj-desc a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.proj-desc a img{
    height: 2rem;
    cursor: pointer;
}

.proj-desc a:hover{
    color: gray;
}
 /*`````````````````FOOTER````````````````````````*/

 footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding-block: 3rem;
 }

 .foot-heading{
    font-family: var(--serif-display);
    font-size: 2.5rem;
    animation: grad-move 1s linear infinite;
    background: linear-gradient(to right, black, var(--gray), var(--light-gray), black);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
 }

 footer .dropdown{
    background-color: var(--bg-color);
 }

 /*`````````````````````TABLET DESIGN````````````````````````````*/

 @media only screen and (max-width : 1100px){ 
.projects{
    grid-template-columns: repeat(2,max(35vw,17rem));
    grid-gap: min(3rem, 5vw);
}

.project img{
    height: 10rem;
}
}

/*```````````````````````````````````````````````````````````````*/

 @media only screen and (max-width : 1100px){ 


.my-name{
    font-size: 3.5rem;
    letter-spacing: 2px;
    line-height: 3rem;
    padding-block: 1rem;
}
    
.btns{
    flex-direction: column;
    gap: 0.7rem;
    justify-content: center;
    padding-top: 1.5rem;
}

.btns div{
    width: 65%;
}


 }
 /*`````````````````````MOBILE DESIGN````````````````````````````*/

 @media only screen and (max-width : 700px){
body{
    font-size: 1.5rem;
}

nav{
    padding: 1rem;
    height: auto;
}

nav div{
    font-size: 1.5rem;
    animation: grad-move 0.5s linear infinite;
    background: linear-gradient(to right, black, var(--gray), var(--light-gray), black);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

nav ul{
    display: none;
}

.intro{
    flex-direction: column;
    height: auto;
    padding-bottom: 2rem;
}

.my-img img{
    height: 40vh;
}

.intro-text{
    text-align: center;
    width: 80vw;
}

.profession{
    font-size: 1.3rem;
}

.btns{
    align-items: center;
}

.btns div{
    width: 75%;
}


.social-media{
    justify-content: center;
}

.intro .social-media{
    display: none;
}

.about{
    flex-direction: column-reverse;
}

.abt-heading{
    font-size: var(--heading-font-mobile);
    line-height: 4rem;
    height: 15rem;
    width: 15rem;
}

.abt-text{
    text-align: center;
    width: 80vw;
}

.heading{
    font-size: var(--heading-font-mobile);
}

.projects{
    grid-template-columns: repeat(1,70vw);
    grid-gap: 2rem;
}

.project img{
    height: 11rem;
}

footer{
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;
}

.foot-heading{
    font-size: 2rem;
}

 }